:root{
    --white: #FEFEFF;
    --red: #e93e3e;
    --gray: #2A2A38;
    --lightGray: #8F8E97;
    --green: #00DB76;
}
body{
    margin: 0;
    font-family: 'Spartan', sans-serif !important;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
a{
    text-decoration: none;
}
h3{
    background-color: var(--green);
    border: 2px solid var(--green);
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
    padding-left: 30px;
}
h3:hover{
    background-color: var(--white);
    border: 2px solid var(--green);
    color: var(--green);
    transition: 0.2s;
}
.number{
    font-size: 25px;
    margin-right: 20px;
}

.page-container{
    width: 70%;
    margin: 0 auto;
}

.line-white{
    height: 2px;
    width: 100%;
    background-color: var(--white);
}

.title{
    text-align: center;
    font-size: large;
    padding-top: 13px;
    width: 100%;
    background-color: var(--gray);
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.content{
    width: 90%;
    margin: 0 auto;
}

.content-container{
    margin-top: 20px;
}

.content-section{
    padding: 30px;
    vertical-align: middle;
    align-items: center;
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-bottom: 2px solid var(--gray);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.inline{
    display: inline-flex;
    display: flex;
}

.content-section > p{
    margin: 20px;
    width: 50%;
}

.content-section > .description{
    margin: 0 50px 0 0;
    text-align: end;
    width: 100%;
}

.half{
    width: 50%;
}

.footer{
    background-color: var(--gray);
    text-align: center;
    min-height: fit-content;
    padding: 5px;
    bottom: 0;
    font-size: 10px;
    color: var(--white);
    margin-top: 20px;
}

.tab {
    overflow: hidden;
    background-color: var(--gray);
    border-top: 1px solid var(--white);
    min-height: fit-content;
}

.tab, button{
    margin: 0;
    padding: 0;
}

.tablinks {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    float: left;
    transition: 0.3s;
    font-family: 'Spartan', sans-serif;
    color: var(--white);
    padding: 10px;
}

.tablinks:hover {
    background-color: var(--green); 
}

.tablinks.active {
    border-bottom: 3px solid var(--green);
}

.hidden{
    display: none;
}

.btn-readme{
    background: var(--green);
    color: var(--gray);
    padding: 5px 30px 5px 30px;
    border-radius: 15px;
    border: 2px solid var(--green);
    margin-left: 15px;
}

.btn-readme:hover{
    background: var(--white);
    color: var(--green);
    padding: 5px 30px 5px 30px;
    border-radius: 15px;
    cursor: pointer;
}